name: Web App Demo CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install flask bandit

      - name: Run Unit Tests
        run: python -m unittest discover -s . -p "test_*.py"

      - name: Run Security Scan
        run: bandit -r .

  docker-build:
    runs-on: ubuntu-latest
    needs: build-and-test
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t gp1-demo:latest .

      - name: Save Docker image
        run: docker save gp1-demo:latest -o gp1-demo.tar
